{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h2>About</h2>
<p>SchoolERP is a comprehensive school management solution developed to automate and streamline academic and administrative processes.</p>
<p> It provides modules for student information, attendance tracking, examination management, results, timetables, and fee management. </p>
<p> With a simple interface and secure data handling, SchoolERP enhances communication, transparency, and productivity across the institution.</p>
<p></p>
{% endblock %}
